@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-industrial-950 text-industrial-100 antialiased font-sans selection:bg-industrial-700 selection:text-white;
  }
}

/* Custom industrial scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}
